@import "~palet";

.main {
	&__title {
		color: $primary-color;
		font-size: 2rem;
		font-weight: 500;
	}
	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(12rem, 14rem - 0.5rem));
	}
}
