@import "~palet";

.description__certificate--have {
	width: fit-content;
	padding: 0 5px;
	align-items: center;
	background-color: #4caf50;
	border-radius: 15px;
	column-gap: 10px;
	box-shadow: 1px 1px 5px #4caf50;
	> i {
		color: #ffc107;
		font-size: 18px;
	}
	> span {
		color: #ffc107 !important;
		font-size: 13px;
	}
}

.description__certificate--havenot {
	width: fit-content;
	padding: 0 5px;
	align-items: center;
	background-color: #393b39;
	border-radius: 15px;
	column-gap: 10px;
	box-shadow: 1px 1px 5px #393b39;
	> i {
		color: #ffffff;
		font-size: 18px;
	}
	> span {
		color: #ffffff !important;
		font-size: 13px;
	}
}
