.mobile_menu_div {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    right: 0px;
}

.mobile_menu_div > .mobile_menu_backdrop_div{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.685);
}

.mobile_menu_div > .mobile_menu_content_div{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 75%;
    padding: 20px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.99)
}

.mobile_menu_div > .mobile_menu_content_div > .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 15px;
}

.mobile_menu_div > .mobile_menu_content_div > .mobile_menu > ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.mobile_menu_div > .mobile_menu_content_div > .mobile_menu > ul > li {
    border: 1px solid rgba(139, 8, 97, 0.2);
    border-radius: 8px;
    padding: 12px;
}

.mobile_menu_div > .mobile_menu_content_div > .mobile_menu > ul > li > a {
    color: #8B0861;
}
