button {
	padding: 10px 8px;
	background-color: #deb887;
	color: black;
	border-radius: 8px;
}

button:hover {
	transition: 0.5s;
	padding: 10px 8px;
	background-color: rgb(133, 113, 83);
	color: rgb(0, 0, 0);
	/* font-weight: bold; */
	border-radius: 8px;
}
