@import "~color-palet";

%input__div {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 0.2rem;
	@media screen and (max-width: 768px) {
		justify-content: space-around;
	}
}

%label {
	width: 20%;
	@media screen and (max-width: 576px) {
		width: 25%;
	}
}

%input {
	display: flex;
	width: 60%;
	padding: 10px 10px;
	border-radius: 8px;
	font-size: 0.9rem;
	border: 1px solid #e3dde1;
	background-color: #f7f0f5;
}
%checkbox {
	display: flex;
	column-gap: 0.3rem;
	> input {
		accent-color: $primary-color;
	}
}

.student-inputs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 0.5rem;
	@media screen and (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
	&__name {
		@extend %input__div;
		label {
			@extend %label;
		}
		input {
			@extend %input;
		}
	}
	&__teacher {
		@extend %input__div;
		label {
			@extend %label;
		}
		input {
			@extend %input;
		}
	}
	&__time {
		@extend %input__div;
		label {
			@extend %label;
		}
		&__values {
			@extend %input;
			justify-content: space-around;
			select {
				background-color: #f7f0f5;
			}
		}
	}
	&__more-description {
		@extend %checkbox;
		grid-column: span 3;
		@media screen and (max-width: 768px) {
			margin-right: 1rem;
		}
	}
	&__textarea {
		@extend %input;
		grid-column: span 3;
		min-height: 100px;
		@media screen and (max-width: 768px) {
			margin-right: 1rem;
		}
	}
	&__checkbox {
		@extend %checkbox;
		grid-column: span 3;
		@media screen and (max-width: 768px) {
			margin-right: 1rem;
		}
	}
}
