.header {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: beige;
    padding: 0;
    margin-right: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
}