.ul {
	display: flex;
}

.item-nav {
	display: flex;
	column-gap: 8px;
	padding: 10px;
}

.tab-content {
	display: flex;
	flex-direction: column;
	background-color: blanchedalmond;
	width: fit-content;
	border-radius: 8px;
	box-shadow: 2px 2px 10px rgb(94, 84, 84);
	margin: 0 0 10px 10px;
	padding: 8px;
}
