main {
    display: flex;
    flex-direction: column;
    max-width: 70%; 
    margin: 30px auto;
}

main > .selector {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 35px;
    border: 1px solid #8B0861;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}

main > .selector > .master:hover {
    transition: 0.5s;
    border: 1px solid #8B0861;
    font-size: 18px;
}

main > .selector > .master { 
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius:  inherit;
    color: #000000;
    background-color: #F7F0F5;
}

main > .selector > .student {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius:  inherit;
    color: #000000;
    background-color: #F7F0F5;
}

main > .selector > .student:hover {
    transition: 0.5s;
    border: 1px solid #8B0861;
    font-size: 18px;
}

