.footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #343536;
}

.footer > .top_footer {
    display: flex;
    /* width: 80%;  */
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 50px;
    padding: 30px 0 30px;
}

.top_footer > .first_menu , .top_footer > .second_menu , .top_footer> .about {
    line-height: 30px;
}

.top_footer > .first_menu > .footer_navbar {
    display: flex;
    flex-direction: column;
}

.top_footer > .first_menu > label , .top_footer > .second_menu > label , .top_footer > .about > label{
    color: #ffffff;
    font-weight: bold;
}

.top_footer > .first_menu >.footer_navbar > ul >li > a ,.top_footer > .second_menu > .footer_navbar > ul > li > a , .top_footer > .about > p {
    color: #C1C8CE;
}

.top_footer > .about {
    color: #ffffff;
    max-width: 400px;
}

.footer > .bottom_footer {
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  align-items: center;
  line-height: 40px;
  /* background-color: #343536; */
}

.footer > .top_footer > .about > p{
    display: flex;
    font-size: 12px;
}

.footer > .bottom_footer > .copyright {
    font-size: 12px;
}

.footer > .bottom_footer > .icons > .icon_list > ul > li > i , .footer > .bottom_footer > .copyright > p{
    color: #C1C8CE;
}
