main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main > .titr1 {
    display: flex;
    width: 95%;
    margin: 20px 0;
}

main > .titr1 > h3 {
    font-size: 20px; 
    color: #8B0861;
}

main > .titr1 > button {
    margin-right: auto;
    background-color: transparent;
    color: #8B0861;
    font-size: 15px;
    font-weight: 500;
}

main > .galery1 {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    /* justify-self: center; */
    justify-content: center;
    column-gap: 12px;
    margin-bottom: 30px;
}

/* Media query */
@media screen and (min-width: 1367px) {
    main > .galery1 {
        justify-content: flex-start;
    }
}

main > .galery1 > .product {
    position: relative;
    padding: 10px;
    border: 1px solid #efbadf;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 250px;
    box-shadow: 1px 1px 15px #efbadf;
    row-gap: 15px;
}

/* main > .galery1 > .product:last-of-type{
    margin-left: auto;
} */

main > .galery1 > .product:hover {
    box-shadow: 1px 1px 15px #726E6E;
    transition: all 0.5s;
}

main > .galery1 > .product > .description > .certificate{
    display: flex;
    width: 70%;
    padding: 0 5px;
    align-items: center;
    background-color: #4CAF50;
    border-radius: 15px;
    column-gap: 10px;
    box-shadow: 1px 1px 5px #4CAF50;
    /* position: absolute; */
    /* top: 5px; */
    /* right: 5px; */
    /* width: 50px; */
    /* height: 30px; */
}

main > .galery1 > .product > .description > .certificate > i {
    color: #FFC107;
    font-size: 18px;
}

main > .galery1 > .product > .description > .certificate > span {
    color: #FFC107;
    /* color: #B0BEC5; */
    font-size: 13px;
}

main > .galery1 >.product > .takhfif {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f42708;
    font-size: 10px;
    color: #ffffff;
}

main > .galery1 >.product > .takhfif:hover {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 35px;
    height: 35px;
    transition: all 0.6s;
}

main > .galery1 > .product > img {
    border-radius: 8px;
    aspect-ratio: 2/2;
    object-fit: scale-down;
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    height: 100%;
}

main > .galery1 > .product > .description {
    display: flex;
    flex-direction: column;
}

main > .galery1 > .product > .description >h4 {
    color: #8b0861;
    font-size: 15px;
    font-weight: bold;
}

main > .galery1 > .product > .description > h5 {
    color: #1676ca;
    font-size: 12px;
}

main > .galery1 > .product > .description > .desc {
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 6px; */
    
}
 
main > .galery1 > .product > .description > .desc > h4 {
    font-size: 13px;
    font-weight: 500;
    /* flex: 1 0 auto; */
    color: #8b0861;
}

main > .galery1 > .product > .description > .desc > h5 {
    font-size: 12px;
    /* flex: 1 0 70%; */
    color: #726E6E;
}

main > .galery1 > .product > .description > button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #8b0861;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

main > .galery1 > .product > .description > a {
    padding: 10px 20px;
    text-align: center;
    margin-top: 10px;
    background-color: #8b0861;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

main > .galery1 > .product > .register {
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

main > .galery1 > .product > .register > div:first-child {
    display: flex;
    flex-direction: column;
}

main > .galery1 > .product > .register > div:first-child > span.line-through > strong {
    text-decoration: line-through;
}

main > .galery1 > .product > .register > h4 {
    font-size: 15px;
    font-weight: 500;
    flex: 1 0 auto;
}

main > .galery1 > .product > .register > button {
    padding: 10px 20px;
    background-color: #8b0861;
    color: #ffffff;
    border-radius: 8px;
    flex: 1 0 auto;
    cursor: pointer;
}
