main > .selector > .master-select{
    background-color: #8B0861 !important;
    color: #ffffff !important;    
}

main > .master-class-d-none {
    display: none;
}

main > .master-class {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    row-gap: 20px;
    border-radius: 0 0 8px 8px;
    background-color: #ffffff;
    border: 1px solid #efbadf;
    box-shadow: 0 5px 20px #efbadf;
}

main > .master-class > .course-name__date {
    display: flex;
    column-gap: 30px;
    /* justify-content: space-around; */
}

main > .master-class .input {
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px solid #e3dde1;
    background-color: #f7f0f5;
}

main > .master-class > .order {
    display: flex;
    column-gap: 10px;
    height: auto;
}

main > .master-class > .order > .course-master__write-more{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* align-items: flex-start; */
}

main > .master-class > .order > .course-master__write-more > .write-more {
    display: flex;
    width: 80%;
    flex-direction: column;
    row-gap: 12px;
}

main > .master-class > .order > .course-master__write-more > .write-more > textarea {
    min-width: 100%;
    min-height: 100px;
    /* max-height: max-content; */
}

main > .master-class > .order > .course-degree__course-file {
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 20px;
}

main > .master-class > .order > .course-degree__course-file > .course-degree {
    display: flex;
    width: 100%; 
    column-gap: 20px;
    align-items: center;
    min-height: 50px;
}

main > .master-class > .order > .course-degree__course-file > .course-degree > div {
    display: inherit;
    align-items: center;
    column-gap: 5px;
}

main > .master-class > .order > .course-degree__course-file > .course-degree > div > label ,
main > .master-class > .order > .course-degree__course-file > .course-degree > div > input 
{
    cursor: pointer;
}

main > .master-class > .order > .course-degree__course-file > .course-file-d-none{
    display: none;
}

main > .master-class > .order > .course-degree__course-file > .course-file{
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 1px solid rgba(190, 189, 189,0.6);
    box-shadow: 1px 1px 2px rgba(190, 189, 189,0.6) ;
    border-radius: 8px;
}

main > .master-class > .order > .course-degree__course-file > .course-file > input{
    align-self: center;
    padding: 12px;
    border-radius: 8px;
    background-color: #f7f0f5;
    box-shadow: 3px 3px 10px #e3dde1;
    border: 1px solid #e3dde1;
}

main > .master-class > .order > .course-degree__course-file > .course-text-d-none {
    display: none !important;
}

main > .master-class > .order > .course-degree__course-file > .course-text {
    display: flex;
    flex-direction: column; 
    padding: 12px;
    row-gap: 12px;
    border: 1px solid rgba(190, 189, 189,0.6);
    box-shadow: 1px 1px 2px rgba(190, 189, 189,0.6) ;
    border-radius: 8px;
}

main > .master-class > .order > .course-degree__course-file > .course-text > textarea{
    padding: 12px;
    border-radius: 8px;
    background-color: #f7f0f5;
    box-shadow: 3px 3px 10px #e3dde1;
    border: 1px solid #e3dde1;
    min-width: 100%;
    min-height: 100px;
    /* height: fit-content; */
}

main > .master-class > .register {
    padding: 12px 24px;
    background-color: #8B0861;
    color: #ffffff;
    align-self: center;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}
