main > .selector > .student-select{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius:  inherit;
    color: #ffffff;
    background-color: #8B0861;
}

main > .selector > .student-select:hover {
    transition: 0.5s;
    border: 1px solid #8B0861;
    font-size: 18px;
}

main > .student-class {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    row-gap: 10px;
    border-radius: 0 0 8px 8px;
    background-color: #ffffff;
    border: 1px solid #efbadf;
    box-shadow: 0 5px 20px #efbadf;
}

main > .student-class > .course-name__date {
    display: flex;
    column-gap: 30px;
    /* justify-content: space-around; */
}

main > .student-class .input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #e3dde1;
    background-color: #f7f0f5;
}   

main > .student-class > textarea {
    width: 60%;
    max-width: 80%; 
    min-height: 100px;
    /* height: fit-content; */
}

main > .student-class > label {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 15px;
    color: rgba(1, 1, 1, 0.8);
}

main > .student-class > .register {
    padding: 12px 24px;
    background-color: #8B0861;
    color: #ffffff;
    align-self: center;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}
