$primary-color: #8b0861;
$color-dark: #343536;
$color-shadow: #efbadf;
$text-primary: #5f1646;
$text-gray: #c1c8ce;
$text-gray-dark: #726e6e;
$text-dark: black;
$text-light: white;
$color-success: #17a2b8;
